@page "/addteam"
@using LedGameDisplayFrontend.Data
@using System.Net.Http
@using System.Web
@using System.Text.Json
@inject NavigationManager NavigationManager

<h1>Verein hinzufügen</h1>

<EditForm Model="@newTeam" OnValidSubmit="@SaveTeam">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <a>Name</a>
    <InputText id="txtName" type="text" class="form-control" @bind-Value="newTeam.Name" />
    <ValidationMessage For="@(() => newTeam.Name)" />
    <br />

    <a>Abkürzung</a>
    <InputText id="txtShortname" type="text" class="form-control" @bind-Value="newTeam.Shortname" />
    <ValidationMessage For="@(() => newTeam.Shortname)" />
    <br />

    <a>Vereinsname</a>
    <InputText id="txtClubname" type="text" class="form-control" @bind-Value="newTeam.Clubname" />
    <ValidationMessage For="@(() => newTeam.Clubname)" />
    <br />

    <button class="btn btn-primary" type="submit">Speichern</button>
</EditForm>
    @*<button class="btn btn-primary" @onclick="SaveTeam">Speichern</button>*@

    @code {
        private NewTeamData newTeam = new NewTeamData();


        private async void SaveTeam()
        {
            await PanelApiService.NewTeamAsync(newTeam);
            NavigationManager.NavigateTo("/teams");
        }
    }


